<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Short name</th>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in dirCtrl.found">
                <td>{{ item.short_name }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>
                    <button class="btn btn-primary" ng-click="dirCtrl.onRemove({index: $index});">
                        Don't want this one!
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="alert alert-warning" ng-if="dirCtrl.isEmpty()">Nothing found</div>
